  <div id="formulario">
        <form class="form-inline" role="form" action="php/contacto.php" method="POST" id="contacto" title="Nombre">
        <label for="nombre">Nombre</label>
        <input class="form-control name=" name="nombre" type="text" required="required" id="nombre" placeholder="nombre" tabindex="1" title="Nombre">
        <br>
        <label for="email">Email</label>
        <input class="form-control name=" name="email" type="email" required="required" id="email" placeholder="email" tabindex="2" title="Email">
        <br>
        <label for="Mensaje">Mensaje</label>
        <textarea class="form-control name=" name="mensaje" rows="7" id="mensaje" placeholder="mensaje" tabindex="10"></textarea>
        <br>
        <input class="btn btn-primary" type="submit" name="enviar" tabindex="7" value="Enviar"><input type="reset" tabindex="8" class="btn btn-primary" value="Borrar">
        <input type="hidden" name="estado" value="1">
        
        </form>
    </div>
    
    <iframe width="300" height="300" frameborder="0" style="border:0"
 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDvxRYnJWAUmAQycjpdVGm_wu6K70z9HEQ &callback=initMap"
 allowfullscreen>
</iframe>

