<footer class="footer">
  <small>
    @2017 NMRMB inc.
  </small>
  <nav>
    <ul>
      <li><%= link_to "Privacidad", '#' %></li>
      <li><%= link_to "Acerca de nosotros", '#' %></li>
    </ul>
  </nav>
  <nav>
    <ul>
      <li><%= link_to "Reportar un error", '#' %></li>
      <li><%= link_to "Ayuda", '#' %></li>
    </ul>
  </nav>
</footer>